<div class="yn-cookie-consent">
    <div class="yn-cookie-consent--inner">
        <h5>{{cookie.headline}}</h5>
        {{cookie.consent_text|raw}}
        <div class="yn-cookie-consent--controlls">
        <a class="yn-cookie-consent--okay" href="" data-consent-id="{{cookie._id}}">{{"ConsentManager_GiveConsent"|trans}}</a>
        </div>
    </div>
</div>

