<div class="yn-cookie-consent">
	<div class="yn-cookie-consent__inner">
		<h3 class="h4">{{ cookie.headline }}</h3>
		{{ cookie.consent_text|raw }}
		<button class="yn-cookie-consent--okay button button--solid" data-consent-id="{{ cookie._id }}">{{ 'yn_giveConsent'|trans }}</button>
	</div>
</div>
