{% set data = section.data %}

{# 360 #}
{% if _ynfinite.content.data.panel_media_360|length %}
	<section class="section wow fadeInUp pv-0">
		<div class="inner"><p class="separator"><span>360°</span></p></div>
		<figure class="iframe iframe--maps wow fadeInUp">
			<iframe src="{{ _ynfinite.content.data.panel_media_360 }}" width="1440" height="580" frameborder="0" style="border:0"></iframe>
		</figure>
	</section>

{# Video #}
{% elseif _ynfinite.content.data.panel_media_youtube|length %}
	<section class="section bg wow fadeInUp pv-0">
		<div class="iframe iframe--video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ _ynfinite.content.data.panel_media_youtube }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media;" allowfullscreen></iframe>
		</div>
	</section>
{% endif %}
