{% set data = section.data %}

<section class="section wow fadeInUp">
	<div class="handle">{{ _ynfinite.content.data.general_name }}</div>
	<div class="inner">
		<figure class="text-center">
			<img src="{{ _ynfinite.content.data.general_icon[0].path }}?w=200" alt="{{ _ynfinite.content.data.general_name }}">
		</figure>
		<div class="bodytext columns columns--pull">
			{{ _ynfinite.content.data.general_beschreibungstext|striptags('<p><br><ul><ol><li><span><a><b><i>')|raw }}
		</div>
	</div>
</section>
