{% set data = section.data %}

<header class="header wow fadeInUp">
	<div class="inner">
		{{ _ynfinite.content.data.general_ueberschrift|raw }}
		<div class="bodytext">
			{{ _ynfinite.content.data.general_subline|raw }}
		</div>
	</div>
</header>
