{% set data = section.data %}

{% if _ynfinite.content.data.podcast_iframe|length %}
	<section class="section wow fadeInUp">
		<div class="inner">
			<div class="separator"><span>{{ _ynfinite.content.data.podcast_separator ?: 'WvM Podcast' }}</span></div>
			<div class="iframex">
				{{ _ynfinite.content.data.podcast_iframe|raw }}
			</div>
		</div>
	</section>
{% endif %}
