{% set data = section.data %}

{% if _ynfinite.content.data.panel_slider_images|length %}
	<section class="banner banner--swiper">
		<div class="swiper-container swiper--1">
			<div class="swiper-wrapper">
				{% for slide in _ynfinite.content.data.panel_slider_images %}
					<div class="swiper-slide">
						<figure class="slideshow">
							<img src="{{ slide.path }}?w=1680&h=800" alt="{{ slide.metadata.alt }}">
							{% if _ynfinite.content.data.panel_slider_caption == 1 %}
								<figcaption>{{ _ynfinite.content.data.panel_slider_caption_text|default('Unverbindliche Darstellung') }}</figcaption>
							{% endif %}
						</figure>
					</div>
				{% endfor %}
			</div>

			{# slider: navigation #}
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
			<div class="swiper-pagination"></div>
		</div>
	</section>
{% endif %}
