.yn-article {
	&:not(:last-of-type),
	> [class*='yn-article__']:not(:last-child) {
		margin-bottom: var(--gap, 1rem);
	}

	[class*='.yn-article__'],
	[class*='.yn-article__'] > :is(figure, iframe) {
		margin-inline: auto;
	}

	// video
	&__video {
		iframe {
			@supports (aspect-ratio: auto) {
				aspect-ratio: 16/9;
				width: 100%;
				height: auto;
			}
		}

		@supports not (aspect-ratio: auto) {
			padding-bottom: 56.25%;
			padding-top: 0;
			height: 0;
			overflow: hidden;
			position: relative;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	// images
	&__images {
		img {
			max-width: 100%;
		}
	}
}
