:root {
	--flatpickr: var(--accent-pri, #e91e63);
	--flatpickr-font: var(--accent-pri-font, #fff);
}

[flatpickr-hidden-input] {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	width: 100%;
}

// ================================================== COLOR OVERWRITES ==================================================

.flatpickr-day:is(.selected, .startRange, .endRange, .selected.inRange, .startRange.inRange, .endRange.inRange, .selected:focus, .startRange:focus, .endRange:focus, .selected:hover, .startRange:hover, .endRange:hover, .selected.prevMonthDay, .startRange.prevMonthDay, .endRange.prevMonthDay, .selected.nextMonthDay, .startRange.nextMonthDay, .endRange.nextMonthDay) {
	background: var(--flatpickr);
	border-color: var(--flatpickr);
	color: var(--flatpickr-font);
}

.flatpickr-day {
	box-shadow: unset !important;

	&:is(.selected, .startRange, .endRange).selected.startRange + .endRange:not(:nth-child(7n + 1)) {
		box-shadow: -10px 0 0 var(--flatpickr) !important;
	}
}

.flatpickr-day.week.selected {
	border-radius: 0;
	box-shadow: -5px 0 0 var(--flatpickr, #e91e63), 5px 0 0 var(--flatpickr) !important;
}

// ================================================== GLOBAL CHANGES ==================================================

.flatpickr-calendar {
	border-radius: min(var(--border-radius, 4px), 10px);
	margin-top: 0.75rem;
	background-color: var(--bg-light, #fff);
	color: var(--font-dark, #000);
	// box-shadow: unset;
	// padding: 7px;
	// width: 100%;
	// max-width: 300px;
	// box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1), 0px 0px 39px 3px rgba(0, 0, 0, 0.1);

	&.hasTime.noCalendar {
		max-width: 180px;
	}

	.numInputWrapper {
		span {
			opacity: 1;
			border: 0;
			width: 20px;
			padding: 0 6px;
		}

		.arrowUp {
			top: auto;
			bottom: 0;

			&::after {
				top: 25%;
				border: unset;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-top: 4px solid rgba(57, 57, 57, 0.6);
			}
		}

		.arrowDown {
			top: 0;
			bottom: auto;

			&::after {
				top: 50%;
				border: unset;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-bottom: 4px solid rgba(57, 57, 57, 0.6);
			}
		}

		.flatpickr-hour {
			+ span,
			+ span + span {
				left: 0;
				right: auto;
			}
		}
	}

	.flatpickr-time {
		border: unset !important;

		.numInputWrapper {
			border: 1px solid #e6e6e6;
			&:first-of-type {
				border-right: unset;
			}

			&:last-of-type {
				border-left: unset;
			}
		}

		.flatpickr-time-separator {
			border-top: 1px solid #e6e6e6;
			border-bottom: 1px solid #e6e6e6;
		}
	}

	* {
		border-radius: min(var(--border-radius, 4px), 10px);
		transition: color var(--atime, 0.4s) ease, background var(--atime, 0.4s) ease, border-color var(--atime, 0.4s) ease;
	}

	&::after {
		border-width: 8px;
	}

	.flatpickr-month {
		// height: fit-content;
	}

	.flatpickr-current-month {
		// height: fit-content;
		// padding-top: 0;
		// position: relative;
		// display: flex;
		// flex-direction: row;
		// flex-wrap: wrap;
		// font-size: 16px;
		// gap: 0.5rem;

		// > select {
		// 	width: 60%;
		// }

		// > .numInputWrapper {
		// 	width: calc(40% - 0.5rem);
		// }
	}

	// .dayContainer {
	// 	gap: 2px;
	// 	justify-content: flex-start;
	// }
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
	padding: 10px;

	&:hover svg {
		fill: rgba(0, 0, 0, 0.9);
	}

	&:not(.flatpickr-disabled):hover svg {
		fill: var(--flatpickr);
	}

	&.flatpickr-disabled {
		display: initial;
		opacity: 0.4;
	}
}

.flatpickr-day {
	&:is(.inRange, .prevMonthDay.inRange, .nextMonthDay.inRange, .today.inRange, .prevMonthDay.today.inRange, .nextMonthDay.today.inRange, :hover, .prevMonthDay:hover, .nextMonthDay:hover, :focus, .prevMonthDay:focus, .nextMonthDay:focus):not(.flatpickr-disabled, .selected, .today) {
		border-color: var(--flatpickr);
		background-color: var(--bg-light, #fff);
		// box-shadow: unset !important;
	}

	&.today {
		&,
		&:hover {
			border: 1px solid currentColor;
			color: #393939;

			&:not(.selected) {
				background-color: var(--bg-light, #fff);
			}

			&.selected {
				border-color: var(--flatpickr-font);
			}
		}

		&:hover:not(.selected, .flatpickr-disabled) {
			border-color: var(--flatpickr);
		}

		&.flatpickr-disabled,
		&.flatpickr-disabled:hover {
			color: rgba(57, 57, 57, 0.1);
		}
	}

	// &.nextMonthDay:nth-last-of-type(-n + 7) {
	// 	display: none;
	// }
}

// Month Picker

.flatpickr-monthSelect-months {
	margin: 10px 1px 3px 1px;
	flex-wrap: wrap;
}

.flatpickr-monthSelect-month {
	background: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #393939;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	margin: 0.5px;
	justify-content: center;
	padding: 10px;
	position: relative;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	text-align: center;
	width: 33%;
}

.flatpickr-monthSelect-month.flatpickr-disabled {
	color: #eee;
}

.flatpickr-monthSelect-month.flatpickr-disabled:hover,
.flatpickr-monthSelect-month.flatpickr-disabled:focus {
	cursor: not-allowed;
	background: none !important;
}

.flatpickr-monthSelect-theme-dark {
	background: #3f4458;
}

.flatpickr-monthSelect-theme-dark .flatpickr-current-month input.cur-year {
	color: #fff;
}

.flatpickr-monthSelect-theme-dark .flatpickr-months .flatpickr-prev-month,
.flatpickr-monthSelect-theme-dark .flatpickr-months .flatpickr-next-month {
	color: #fff;
	fill: #fff;
}

.flatpickr-monthSelect-theme-dark .flatpickr-monthSelect-month {
	color: rgba(255, 255, 255, 0.95);
}

.flatpickr-monthSelect-month.today {
	border-color: #959ea9;
}

.flatpickr-monthSelect-month.inRange,
.flatpickr-monthSelect-month.inRange.today,
.flatpickr-monthSelect-month:hover,
.flatpickr-monthSelect-month:focus {
	background: #e6e6e6;
	cursor: pointer;
	outline: 0;
	border-color: #e6e6e6;
}

.flatpickr-monthSelect-theme-dark .flatpickr-monthSelect-month.inRange,
.flatpickr-monthSelect-theme-dark .flatpickr-monthSelect-month:hover,
.flatpickr-monthSelect-theme-dark .flatpickr-monthSelect-month:focus {
	background: #646c8c;
	border-color: #646c8c;
}

.flatpickr-monthSelect-month.today:hover,
.flatpickr-monthSelect-month.today:focus {
	background: #959ea9;
	border-color: #959ea9;
	color: #fff;
}

.flatpickr-monthSelect-month.selected,
.flatpickr-monthSelect-month.startRange,
.flatpickr-monthSelect-month.endRange {
	background-color: var(--flatpickr);
	// box-shadow: none;
	color: #fff;
	border-color: var(--flatpickr);
}

.flatpickr-monthSelect-month.startRange {
	border-radius: 50px 0 0 50px;
}

.flatpickr-monthSelect-month.endRange {
	border-radius: 0 50px 50px 0;
}

.flatpickr-monthSelect-month.startRange.endRange {
	border-radius: 50px;
}

.flatpickr-monthSelect-month.inRange {
	border-radius: 0;
	// box-shadow: -5px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
}

.flatpickr-monthSelect-theme-dark .flatpickr-monthSelect-month.selected,
.flatpickr-monthSelect-theme-dark .flatpickr-monthSelect-month.startRange,
.flatpickr-monthSelect-theme-dark .flatpickr-monthSelect-month.endRange {
	background: var(--flatpickr);
	// -webkit-box-shadow: none;
	// box-shadow: none;
	color: #fff;
	border-color: var(--flatpickr);
}
