@keyframes button-loading-spinner {
	from {
		transform: rotate(0turn);
	}

	to {
		transform: rotate(1turn);
	}
}

form.yn-form {
	button.yn-loader {
		position: relative;
		opacity: 0.8;
		pointer-events: none;

		&::after {
			top: 0;
			right: auto;
			left: var(--yn-loader-pos, 4px);
			bottom: 0;
		}
	}
}

.yn_consents_v2 {
	position: absolute !important;
	left: -9999px !important;
}

.yn-captcha-wrapper {
	margin-top: 1rem;
	margin-bottom: 1rem; 

	.yn-captcha{
		margin-bottom: calc(var(--text-to-text) + var(--extra-spacing))
	}
}