@keyframes button-loading-spinner {
	from {
		transform: rotate(0turn);
	}

	to {
		transform: rotate(1turn);
	}
}

form.yn-form {
	button.yn-loader {
		position: relative;
		opacity: 0.8;
		pointer-events: none;
		padding-right: 56px !important;

		&::after {
			top: 0;
			right: calc(-100% + 56px);
			left: 0;
			bottom: 0;
		}
	}
}
