.yn-disabled {
	pointer-events: none;
	opacity: 0.4;
}

.yn-loader {
	position: relative;

	@keyframes spinLoader {
		to {
			transform: rotate(360deg);
		}
	}
}

span.yn-loader,
button.yn-loader::after {
	margin: auto;
	border-radius: 50%;
	border-top: var(--loader-border, 3px) solid var(--loader-color, currentColor);
	border-left: var(--loader-border, 3px) solid var(--loader-color, currentColor);
	border-right: var(--loader-border, 3px) solid rgba(255, 255, 255, 0);
	aspect-ratio: 1;
	box-sizing: border-box !important;
	animation: spinLoader 0.75s infinite linear;
}

span.yn-loader {
	display: block;
	width: var(--loader-size, 20px);
	height: var(--loader-size, 20px);
}

button.yn-loader {
	opacity: 0.8;
	pointer-events: none;

	&::after {
		content: '';
		height: var(--loader-size, 16px);
		width: var(--loader-size, 16px);
		position: absolute;
		top: 0;
		bottom: 0;
		margin-left: 8px;
	}
}

#jumpToBody {
	position: absolute;
	pointer-events: none;
	top: 1rem;
	bottom: auto;
	left: 0;
	right: 0;
	margin: auto;
	transform: translateY(calc(-100% - 1.5rem));
	transition: transform var(--atime, 0.33s) ease, opacity 0.2s ease !important;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	opacity: 0;

	&:focus-visible {
		pointer-events: all;
		transform: translateY(0);
		opacity: 1;
	}
}

.yn-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: calc(var(--item-gap, 1rem) * 0.33);

	> * {
		margin: 0 !important;
	}
}
