{% set data = section.data %}

<section class="section bg no-padding">
    <div class="banner banner--fixed" style="background-image: url({{ data.general_hintergrund[0].path }}?w=1680)">
        <div class="banner__overlay" style="width: 100%">
            <div class="inner text-center">
                <img data-src="{{ data.general_logo[0].path }}" class="lazyload banner__logo" alt="WvM Immobilien">
                <h2 class="h1 title">Wir lieben Ecken und Kanten.</h2>
            </div>
        </div>
    </div>
</section>