{% if article %}
	<div class="yn-article {{classes}}">
		{% for component in article %}
			{% if component.config.published %}
				{{_yfunc("articleComponent", component, { imgConfig: imgConfig })}}
			{% endif %}
		{% endfor %}
	</div>
{% endif %}