<figure>
	{{include("yn/components/image.twig")}}
	{%- if (image.metadata.description or image.metadata.author) -%}
		<figcaption>
			{%- if image.metadata.description -%}
				<span class="figure-description" itemprop="abstract">{{image.metadata.description}}</span>
			{%- endif -%}
		</figcaption>
	{%- endif -%}
</figure>
