{% if src %}
	<figure class="yn-figure">
		{{include("yn/components/image.twig")}}
		{% if (image.metadata.description or image.metadata.author) %}
			<figcaption>
				{% if description %}
					<span class="figure-description" itemprop="abstract">{{description}}</span>
				{% endif %}
			</figcaption>
		{% endif %}
	</figure>
{% endif %}