{% if width > height %}
	{% set figure_classes = 'horizontal' %}
{% else %}
	{% set figure_classes = 'vertical' %}
{% endif %}

<figure class="{{ figure_classes }}">
	{{include("yn/components/image.twig")}}
	{%- if (image.metadata.description or image.metadata.author) -%}
		<figcaption>
			{%- if image.metadata.description -%}
				<span class="figure-description" itemprop="abstract">{{image.metadata.description}}</span>
			{%- endif -%}
		</figcaption>
	{%- endif -%}
</figure>
