<figure>
    {{include("yn/components/image.twig")}}
    {%- if (image.metadata.description or image.metadata.author) -%}
        <figcaption>
            {%- if image.metadata.description -%}
                <span class="figure-description" itemprop="abstract">{{image.metadata.description}}</span>
            {%- endif -%}
            {%- if (image.metadata.author) -%}
                {%- if image.metadata.description -%}
                    <span class="figure-hyphen"> - </span>
                {%- endif -%}        
                <span class="figure-author" itemprop="author">&copy; {{image.metadata.author}}</span>
            {%- endif -%}
        </figcaption>
    {%- endif -%}
</figure>