{% if _ynfinite.domain.search %}
    {% set parameter = _ynfinite.domain.search %}
{% endif %}

{% set replacers = {
    'en': 'gb',
} %}

{% if _ynfinite.languages.available|length > 1 %}
    <div class="yn-languageSwitch">
        {% if not noPopup %}
            <div class="yn-languageSwitch-button">
                <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                <svg width="27" height="27" viewBox="0 0 27 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="currentColor" stroke-width="2"/>
                    <path d="M12 3.05554C14.455 5.25282 16 8.44597 16 12C16 15.554 14.455 18.7471 12 20.9444" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                    <path d="M12.0625 21C9.57126 18.8012 8 15.5841 8 12C8 8.41592 9.57126 5.19883 12.0625 3" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                    <path d="M3 12H21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        {% endif %}
        <div class="yn-languageSwitch-wrapper {% if not noPopup %}yn-languageSwitch-popup{% endif %}">
            {% set active = _ynfinite.languages.current %}
            {% for key, url in _ynfinite.languages.urls %}
                {% if parameter %}
                    {% set url = url ~ parameter %}
                {% endif %}

                {% set flagKey = replacers[key] is defined ? replacers[key] : key %}

                 <a href="{{ url }}" title="{{ key }}" class="yn-languageSwitch-link {% if active == key %}yn-languageSwitch-active{% endif %}">
                    <img class="yn-languageSwitch-flag" src="/assets/vendor/ynfinite/flags/{{ flagKey }}.svg" alt="{{ key }}" />
                </a>
            {% endfor %}
        </div>
    </div>
{% endif %}