{% for group in groups %}
	<div class="yn-form-page" data-ynformpagelabel="{{group.label}}" style="margin-bottom: 16px;">
		{% for row in group["fields"] %}
			<div class="yn-form-grid-row">
				{% for field in row %}
					<div class="yn-form-grid-field yn-form-grid-field-{{field['grid']['w']}}">
						{{ _yfunc("formField", field, true, true, addValues[field.alias], parent) }}
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endfor %}
{% for field in hiddenFields %}
	{{ _yfunc("formField", field, false, false, addValues[field.alias]) }}
{% endfor %}
