{% if component.value %}
	<div class="yn-article__html">
		{% if component.config.showCode %}
			<pre class="code">{{ component.value }}</pre>
		{% else %}
			{{ _yfunc('asTemplate', component.value|raw)}}
		{% endif %}
	</div>
{% endif %}