{% if component.value %}
	<div class="yn-article__video">
		{% if component.config.provider == "other" %}
			{{ component.value|raw }}
		{% elseif component.config.provider == "youtube" %}
			{{ _yfunc('video', component.value, { provider: 'youtube' }) }}
		{% elseif component.config.provider == "vimeo" %}
			{{ _yfunc('video', component.value, { provider: 'vimeo' }) }}
		{% endif %}
	</div>
{% endif %} 