<div class="yn-article__video">
	{% if component.config.provider == "youtube" %}
		<iframe src="https://www.youtube.com/embed/{{ component.value }}" title="video" width="560" height="315" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	{% endif %}

	{% if component.config.provider == "vimeo" %}
		<iframe src="https://player.vimeo.com/video/{{ component.value }}" width="640" height="480" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
	{% endif %}

	{% if component.config.provider == "other" %}
		{{ component.value|raw }}
	{% endif %}
</div>
