<IfModule mod_rewrite.c>
	RewriteEngine On

	# Leitet http zu https weiter
	# RewriteCond %{HTTP_HOST} !=localhost
	# RewriteCond %{HTTPS} !=on
	# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

	# Fügt "www" zur Domain hinzu wenn es keine Subdomain ist
	# RewriteCond %{HTTP_HOST} !=localhost
	# RewriteCond %{HTTP_HOST} !^www\.
	# RewriteCond %{HTTP_HOST} ^[^.]+\.[^.]+$
	# RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [L,R=301]

	# Löscht die Subdomain "www"
	# RewriteCond %{HTTP_HOST} !=localhost
	# RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
	# RewriteRule ^(.*)$ https://%1%{REQUEST_URI} [R=301,QSA,NC,L]

	# Löscht Trailing Slash
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)/$ /$1 [L,R=301]

	RewriteBase /
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule . /index.php [L]
	RewriteRule ^index\.php$ - [L]
</IfModule>

AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/atom_xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE application/x-shockwave-flash

AddType application/x-font-woff .woff
AddType application/x-font-woff2 .woff2

ExpiresActive On
ExpiresByType text/css "access plus 1 month"
ExpiresByType text/javascript "access plus 1 month"
ExpiresByType application/javascript "access plus 1 month"
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 month"
ExpiresByType application/x-font-woff "access plus 1 year"
ExpiresByType application/x-font-woff2 "access plus 1 year"

<IfModule mod_headers.c>
	<filesmatch "\\.(ico|jpg|jpeg|png|gif|swf)$">
		Header set Cache-Control "max-age=2592000, public"
	</filesmatch>
	<filesmatch "\\.(css)$">
		Header set Cache-Control "max-age=604800, public"
	</filesmatch>
	<filesmatch "\\.(js)$">
		Header set Cache-Control "max-age=216000, private"
	</filesmatch>
</IfModule>

<FilesMatch "\.(js|jpg|jpeg|gif|png|css)$">
	ExpiresActive on
	ExpiresDefault "access plus 1 month"
	SetOutputFilter DEFLATE
</FilesMatch>