<!DOCTYPE html>
<html>
  <head>
    {% if error == 404 %}
      <title>404 - Page not found</title> 
    {% else %}
      <title>An error occured! That's super sad :-(</title> 
    {% endif %}
  </head>
  <body>

    {% if error == 404 %}
      <h1>404 - The page you requested was not found.</h1>
      <h2>Which is sad, it seemed like such a good page to have content.</h2>
      <hr />
      <p>This is the standard 404 page of <a href="https://www.ynfinite.com" target="_blank" title="Ynfinite CMS">Ynfinite CMS</a>.</p>
      <p>
        This site should not be displayed, you propably forgot to create a 404 page for your website. Please do so, looks
        much better!
      </p>
    {% else %}
      <h1>An error occured during the rendering of the page</h1>
      <h2>Here are the error details:</h2>
      <p>The error code is {{ error }}</p>
      <p>The message was: {{ message }}</p>
      <p>Stacktrace: {{ trace }}</p>
    {% endif %}
  </body>
</html>
