{% extends "install.twig" %}

{% block title %}One Step Installer abgeschlossen{% endblock %}
{% block head %}
  {{ parent() }}
  <style type="text/css">
    .important {
      color: #336699;
    }
  </style>
{% endblock %}
{% block content %}
  <div class="card-header">
    <h1>Installation erfolgreich </h1>
  </div>
  <div class="card-body">
    <p>
      Du hast den PHP Client für Ynfinite CMS erfolgreich installiert.
    </p>
    <p>
      Du kannst dich nun in Ynfinite einloggen und dort loslegen deine Webseite zu erstellen. <br /><a href="https://live.ynfinite.de" target="_blank">Hier gehts zu Ynfinite</a>
    </p>
    <p>Wenn du später Änerungen an der Installation des PHP Clients vornehmen möchtest, brauchst du dieses Passwort: <strong>{{ password }}</strong></p>
    
  <p>
    <a href="/">Hier gehts zu deiner neuen Webseite</a>
  </p>  
  </div>
  
  
{% endblock %}