<style>
    .ynfinite-toolbar {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 99999;
        background: linear-gradient(to right, #e91e63, #ff9800);
        padding: 5px;
    }

    .ynfinite-toolbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .ynfinite-toolbar li {
        float: left;
    }

    .ynfinite-toolbar li a, .ynfinite-toolbar li span {
        display: block;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        color: whitesmoke;
        cursor: pointer;
    }
    #ynfinite-dump{
        display: none;
        position: absolute;
        bottom: 67px;
        height: 30vw;
        width: 40vw;
        background: wheat;
        overflow: scroll;
    }
</style>

<script type="text/javascript">
    function showDump() {
        var x = document.getElementById("ynfinite-dump");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

<div class="ynfinite-toolbar">
    <ul>
        <li><span>Ynfinite Toolbar</span>
        </li>

        <li>
            <a href="?dev=false">Disable DEV Mode</a>
        </li>
        <li>
            <span onclick="showDump();">show dump();</span>
        </li>
    </ul>



    <div id="ynfinite-dump"><pre>{{ dump() }}</pre></div>
</div>