{% extends "install.twig" %}

{% block title %}One Step Installer Login{% endblock %}
{% block head %}
  {{ parent() }}
  <style type="text/css">
    .important {
      color: #336699;
    }
  </style>
{% endblock %}
{% block content %}
  <div class="card-header">
    <h1>Installation</h1>
  </div>
  <div class="card-body">
    <p class="description">
      Deine Installation ist geschützt, bitte gib dein Passwort ein.
    </p>
    {% if error %}
      <p class="error">{{error}}</p>
    {% endif %}
    <form action="/ynfinite/install/password/check" method="post">
      {% if password != null %}
        <p>Deine Passwort eingabe war falsch, bitte probiere es erneut oder lösche das Passwort aus der Config Datei um
          es zu resetten.</p>
      {% endif %}
      <fieldset>
        <legend>Login</legend>
        Passwort<br>
        <input type="password" name="password" required><br>
        <input class="submit" type="submit" value="Absenden">
      </fieldset>
    </form>
  </div>
  
{% endblock %}