{% set pagination = _ynfinite.pagination %}

<div class='yn-perPage'>

    <div class='yn-perPage__current'><span>{{pagination.perPage}}</span></div>
    <div class='yn-perPage__list'>
        <ul>
            {% for option in pagination.perPageOptions %}
                <li class='yn-perPage__item{% if option == pagination.perPage %} yn-perPage__item--active{% endif %}'><a href="{{uriData.perPageURL}}_y.perPage={{option}}">{{option}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>