// media queries ===============================================================
$screen-xs: 30rem;
$screen-sm: 48rem;
$screen-md: 64rem;
$screen-lg: 75rem;

// imports =====================================================================
@import 'scss/article';
@import 'scss/cookieManager';
@import 'scss/formGrid';
@import 'scss/form';
@import 'scss/accordions';
@import 'scss/pagination';
@import 'scss/helper';
@import 'scss/flatpickr';
@import 'scss/videos';
@import 'scss/login';
@import 'scss/languageSwitch';
