.yn-article [class*=yn-article__],
.yn-article [class*=yn-article__] > :is(figure, iframe) {
  margin-left: auto;
  margin-right: auto;
}
.yn-article__intro-text {
  --font-size: var(--font-size-intro, 1.25rem);
}
@supports (aspect-ratio: auto) {
  .yn-article__video iframe {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
  }
}
@supports not (aspect-ratio: auto) {
  .yn-article__video {
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
    position: relative;
  }
  .yn-article__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.yn-article__images img {
  max-width: 100%;
}
.yn-article__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}
.yn-article__links .button + .button {
  margin-top: 0;
}
.yn-article .code {
  white-space: pre-wrap;
}
.yn-article__heading > * {
  scroll-margin-top: calc(var(--flow, 15vh) * 0.5);
}
.yn-article__table-of-contents li {
  text-decoration: underline;
}
.yn-article :is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) > :is(.subheading, .subline) {
  font-size: 70%;
}

.yn-cookies {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  z-index: 10000;
}
.yn-cookies :is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-family-pri, system-ui);
  text-align: left;
  text-transform: none;
}
.yn-cookies label {
  color: currentColor;
  text-transform: none;
}
.yn-cookies::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.75;
  background-color: var(--cookie-background, rgba(0, 0, 0, 0.875));
  z-index: 9000;
}
.yn-cookies ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.yn-cookies--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.yn-cookies__inner {
  max-height: 75vh;
  max-width: 50rem;
  width: 90%;
  overflow: auto;
  border-radius: var(--cookie-radius, 12px);
  background-color: var(--cookie-modal-background, #fff);
  z-index: 10000;
}

.yn-cookies__page {
  max-height: 75vh;
  padding: min(5vw, 3rem);
  overflow-y: auto;
}
.yn-cookies__page--visible {
  display: block;
}
.yn-cookies__page--hidden {
  display: none;
}

.yn-cookies__header h3 {
  margin-bottom: 1.5rem;
}

.yn-cookies__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}
.yn-cookies__footer > .button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  margin: 0;
}
@media screen and (min-width: 48rem) {
  .yn-cookies__footer {
    gap: 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .yn-cookies__footer > * {
    width: unset;
  }
}

.yn-cookies__settings {
  margin: 0;
  padding: 0;
}
.yn-cookies__settings li {
  margin-bottom: 1.5rem;
}
.yn-cookies__settings p {
  margin: 0;
}
.yn-cookies__settings p + p {
  margin-top: 1.5rem;
}

.yn-cookies__settings__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.yn-cookies__settings__item {
  margin: 0;
}
.yn-cookies__settings__item > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}
.yn-cookies__settings__item > div + p {
  margin-top: 0.75rem;
}
.yn-cookies__settings__item label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0 0 0.75rem;
}

.yn-cookies__switch {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 60px;
}
.yn-cookies__switch input {
  height: 0;
  width: 0;
  opacity: 0;
}

.yn-cookies__slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  border-radius: 50px;
  background-color: #ddd;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.yn-cookies__slider::before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 4px;
  height: 26px;
  width: 26px;
  border-radius: 50px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.yn-cookies__slider.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.yn-cookies__switch input:checked + .yn-cookies__slider {
  background-color: var(--accent-ui, #e91e64);
}
.yn-cookies__switch input:focus + .yn-cookies__slider {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.yn-cookies__switch input:checked + .yn-cookies__slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.yn-cookie-consent {
  padding: min(5vw, 3rem);
  border-radius: var(--cookie-radius, 12px);
  background-color: rgba(0, 0, 0, 0.085);
  text-align: center;
}
.yn-cookie-consent__inner {
  width: 80%;
  margin: 0 auto;
}

.bg .yn-cookie-consent {
  background-color: rgb(255, 255, 255);
}

.yn-form-grid-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}
.yn-form-grid-row > div {
  padding: 0 0.5rem;
}

.yn-form-grid-field {
  width: 100%;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.yn-form-grid-field-1 {
  width: 8.3333333333%;
  max-width: 8.3333333333%;
}

.yn-form-grid-field-2 {
  width: 16.6666666667%;
  max-width: 16.6666666667%;
}

.yn-form-grid-field-3 {
  width: 25%;
  max-width: 25%;
}

.yn-form-grid-field-4 {
  width: 33.3333333333%;
  max-width: 33.3333333333%;
}

.yn-form-grid-field-5 {
  width: 41.6666666667%;
  max-width: 41.6666666667%;
}

.yn-form-grid-field-6 {
  width: 50%;
  max-width: 50%;
}

.yn-form-grid-field-7 {
  width: 58.3333333333%;
  max-width: 58.3333333333%;
}

.yn-form-grid-field-8 {
  width: 66.6666666667%;
  max-width: 66.6666666667%;
}

.yn-form-grid-field-9 {
  width: 75%;
  max-width: 75%;
}

.yn-form-grid-field-10 {
  width: 83.3333333333%;
  max-width: 83.3333333333%;
}

.yn-form-grid-field-11 {
  width: 91.6666666667%;
  max-width: 91.6666666667%;
}

.yn-form-grid-field-12 {
  width: 100%;
  max-width: 100%;
}

.yn-listForm-wrapper {
  border: 1px solid lightgrey;
  padding: 1rem;
}
.yn-listForm-description {
  margin-bottom: 2rem;
}
.yn-listForm-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 1rem;
}
.yn-listForm-row:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 2rem;
}
.yn-listForm-row .widget {
  margin-bottom: 0;
}
.yn-listForm-fields {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.yn-listForm-rowActions {
  padding: 0 0 0 1rem;
}
.yn-listForm-actions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.yn-form {
  position: relative;
}

.yn-form-instruction {
  margin-bottom: 1.5rem;
  position: relative;
}
.yn-form-instruction__form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -0.5rem;
}
.yn-form-instruction__form-group > input {
  margin: 0 0.5rem;
}

.form-content.inactive {
  display: none;
}

.yn-form-response {
  width: 100%;
  height: 100%;
  display: none;
  visibility: hidden;
}
.yn-form-response__control {
  padding: 1rem 0 0;
}
.yn-form-response.active {
  display: block;
  visibility: visible;
}

.yn-form-highlight {
  background-color: #eeeeee;
  padding: 2rem;
}

.yn-form-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 1rem 0;
}

/* To show the lines on right 
  and left sides of the text */
.yn-form-divider::after,
.yn-form-divider::before {
  content: "";
  border: 1px solid lightgrey;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* Space on left and right sides of text */
.yn-form-divider:not(:empty)::before {
  margin-right: 0.25em;
}

.yn-form-divider:not(:empty)::after {
  margin-left: 0.25em;
}

@-webkit-keyframes button-loading-spinner {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes button-loading-spinner {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
form.yn-form button.yn-loader {
  position: relative;
  opacity: 0.8;
  pointer-events: none;
}
form.yn-form button.yn-loader::after {
  top: 0;
  right: auto;
  left: var(--yn-loader-pos, 4px);
  bottom: 0;
}

.yn_consents_v2 {
  position: absolute !important;
  left: -9999px !important;
}

.yn-captcha {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.yn-captcha .captcha {
  margin-bottom: calc(var(--text-to-text) + var(--extra-spacing));
}

.yn-accordion {
  padding: calc(var(--gap, 1.5rem) / 2) 0;
  position: relative;
}
.yn-accordion:not(:last-of-type)::after {
  background-color: currentColor;
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  content: "";
  height: var(--border-width, 1px);
}
.yn-accordion .yn-accordion__header {
  position: relative;
  cursor: pointer;
  padding-right: var(--gap);
}
.yn-accordion .yn-accordion__header::before, .yn-accordion .yn-accordion__header::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  height: 2px;
  width: 0.75rem;
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity var(--atime, 0.33s) ease, -webkit-transform var(--atime, 0.33s) ease-in-out;
  transition: opacity var(--atime, 0.33s) ease, -webkit-transform var(--atime, 0.33s) ease-in-out;
  transition: transform var(--atime, 0.33s) ease-in-out, opacity var(--atime, 0.33s) ease;
  transition: transform var(--atime, 0.33s) ease-in-out, opacity var(--atime, 0.33s) ease, -webkit-transform var(--atime, 0.33s) ease-in-out;
}
.yn-accordion .yn-accordion__header::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}
.yn-accordion .yn-accordion__content {
  overflow: hidden;
  -webkit-transition: height var(--atime, 0.33s) ease, visibility var(--atime, 0.33s) ease;
  transition: height var(--atime, 0.33s) ease, visibility var(--atime, 0.33s) ease;
}
.yn-accordion.is-active .yn-accordion__header::after {
  -webkit-transform: translateY(-50%) rotate(90deg) scaleX(0);
          transform: translateY(-50%) rotate(90deg) scaleX(0);
}
.yn-accordion.js-enabled .yn-accordion__content {
  visibility: hidden;
}
.yn-accordion.is-active .yn-accordion__content {
  visibility: visible;
}

.yn-perPage__list li,
.yn-pagination li {
  display: inline-block;
  text-align: center;
  list-style: none;
  margin: 4px;
}
.yn-perPage__list li:only-child,
.yn-pagination li:only-child {
  display: none;
}

.yn.yn-perPage {
  color: var(--bg-pri);
}

.yn-perPage__current {
  display: none;
}

.yn-perPage__list {
  text-align: right;
  margin: 0 0 var(--gap-pri);
}
.yn-perPage__list ul {
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.yn-perPage__list ul::before {
  content: "Zeige: ";
  display: inline-block;
  margin-right: 0.5rem;
}

.yn-pagination {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: calc(var(--gap, 1.5rem) / 2);
  padding-top: calc(var(--flow, 15vh) / 2);
}
.yn-pagination .yn-pagination__page,
.yn-pagination .yn-pagination__control {
  display: inline-block;
  color: currentColor;
  min-width: 30px;
  min-height: 30px;
  aspect-ratio: 1;
  border-radius: var(--border-radius, 90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.yn-pagination .yn-pagination__page > a,
.yn-pagination .yn-pagination__page > span,
.yn-pagination .yn-pagination__control > a,
.yn-pagination .yn-pagination__control > span {
  cursor: pointer;
  -webkit-transition: var(--atime, 0.4s) ease;
  transition: var(--atime, 0.4s) ease;
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.yn-pagination .yn-pagination__page > a span,
.yn-pagination .yn-pagination__page > span span,
.yn-pagination .yn-pagination__control > a span,
.yn-pagination .yn-pagination__control > span span {
  font-size: 1rem;
}
.yn-pagination .yn-pagination__page.yn-pagination__page--active,
.yn-pagination .yn-pagination__control.yn-pagination__page--active {
  display: inline-block;
  background: var(--accent-pri, #000);
}
.yn-pagination .yn-pagination__page.yn-pagination__page--active a,
.yn-pagination .yn-pagination__page.yn-pagination__page--active span,
.yn-pagination .yn-pagination__control.yn-pagination__page--active a,
.yn-pagination .yn-pagination__control.yn-pagination__page--active span {
  color: var(--accent-pri-font, #fff);
}
.yn-pagination .yn-pagination__control > a,
.yn-pagination .yn-pagination__control > span {
  font-size: 1.5rem;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}
.yn-pagination .yn-pagination__control > a::before,
.yn-pagination .yn-pagination__control > span::before {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.yn-disabled {
  pointer-events: none;
  opacity: 0.4;
}

.yn-loader {
  position: relative;
}
@-webkit-keyframes spinLoader {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spinLoader {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

span.yn-loader,
button.yn-loader::after {
  margin: auto;
  border-radius: 50%;
  border-top: var(--loader-border, 3px) solid var(--loader-color, currentColor);
  border-left: var(--loader-border, 3px) solid var(--loader-color, currentColor);
  border-right: var(--loader-border, 3px) solid rgba(255, 255, 255, 0);
  aspect-ratio: 1;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  -webkit-animation: spinLoader 0.75s infinite linear;
          animation: spinLoader 0.75s infinite linear;
}

span.yn-loader {
  display: block;
  width: var(--loader-size, 20px);
  height: var(--loader-size, 20px);
}

button.yn-loader {
  opacity: 0.8;
  pointer-events: none;
}
button.yn-loader::after {
  content: "";
  height: var(--loader-size, 16px);
  width: var(--loader-size, 16px);
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: 8px;
}

#jumpToBody {
  position: absolute;
  pointer-events: none;
  top: 1rem;
  bottom: auto;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(calc(-100% - 1.5rem));
          transform: translateY(calc(-100% - 1.5rem));
  -webkit-transition: opacity 0.2s ease, -webkit-transform var(--atime, 0.33s) ease !important;
  transition: opacity 0.2s ease, -webkit-transform var(--atime, 0.33s) ease !important;
  transition: transform var(--atime, 0.33s) ease, opacity 0.2s ease !important;
  transition: transform var(--atime, 0.33s) ease, opacity 0.2s ease, -webkit-transform var(--atime, 0.33s) ease !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
  opacity: 0;
}
#jumpToBody + * {
  margin-top: 0 !important;
}
#jumpToBody:focus-visible {
  pointer-events: all;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.yn-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: calc(var(--item-gap, 1rem) * 0.33);
}
.yn-buttons > * {
  margin: 0 !important;
}

:root {
  --flatpickr: var(--accent-pri, #e91e63);
  --flatpickr-font: var(--accent-pri-font, #fff);
}

[flatpickr-hidden-input] {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.flatpickr-day:is(.selected, .startRange, .endRange, .selected.inRange, .startRange.inRange, .endRange.inRange, .selected:focus, .startRange:focus, .endRange:focus, .selected:hover, .startRange:hover, .endRange:hover, .selected.prevMonthDay, .startRange.prevMonthDay, .endRange.prevMonthDay, .selected.nextMonthDay, .startRange.nextMonthDay, .endRange.nextMonthDay) {
  background: var(--flatpickr);
  border-color: var(--flatpickr);
  color: var(--flatpickr-font);
}

.flatpickr-day {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}
.flatpickr-day:is(.selected, .startRange, .endRange).selected.startRange + .endRange:not(:nth-child(7n+1)) {
  -webkit-box-shadow: -10px 0 0 var(--flatpickr) !important;
          box-shadow: -10px 0 0 var(--flatpickr) !important;
}

.flatpickr-day.week.selected {
  border-radius: 0;
  -webkit-box-shadow: -5px 0 0 var(--flatpickr, #e91e63), 5px 0 0 var(--flatpickr) !important;
          box-shadow: -5px 0 0 var(--flatpickr, #e91e63), 5px 0 0 var(--flatpickr) !important;
}

.flatpickr-calendar {
  border-radius: min(var(--border-radius, 4px), 10px);
  margin-top: 0.75rem;
  background-color: var(--bg-light, #fff);
  color: var(--font-dark, #000);
}
.flatpickr-calendar.hasTime.noCalendar {
  max-width: 180px;
}
.flatpickr-calendar .numInputWrapper span {
  opacity: 1;
  border: 0;
  width: 20px;
  padding: 0 6px;
}
.flatpickr-calendar .numInputWrapper .arrowUp {
  top: auto;
  bottom: 0;
}
.flatpickr-calendar .numInputWrapper .arrowUp::after {
  top: 25%;
  border: unset;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(57, 57, 57, 0.6);
}
.flatpickr-calendar .numInputWrapper .arrowDown {
  top: 0;
  bottom: auto;
}
.flatpickr-calendar .numInputWrapper .arrowDown::after {
  top: 50%;
  border: unset;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(57, 57, 57, 0.6);
}
.flatpickr-calendar .numInputWrapper .flatpickr-hour + span,
.flatpickr-calendar .numInputWrapper .flatpickr-hour + span + span {
  left: 0;
  right: auto;
}
.flatpickr-calendar .flatpickr-time {
  border: unset !important;
}
.flatpickr-calendar .flatpickr-time .numInputWrapper {
  border: 1px solid #e6e6e6;
}
.flatpickr-calendar .flatpickr-time .numInputWrapper:first-of-type {
  border-right: unset;
}
.flatpickr-calendar .flatpickr-time .numInputWrapper:last-of-type {
  border-left: unset;
}
.flatpickr-calendar .flatpickr-time .flatpickr-time-separator {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.flatpickr-calendar * {
  border-radius: min(var(--border-radius, 4px), 10px);
  -webkit-transition: color var(--atime, 0.4s) ease, background var(--atime, 0.4s) ease, border-color var(--atime, 0.4s) ease;
  transition: color var(--atime, 0.4s) ease, background var(--atime, 0.4s) ease, border-color var(--atime, 0.4s) ease;
}
.flatpickr-calendar::after {
  border-width: 8px;
}
.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  padding: 10px;
}
.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  fill: rgba(0, 0, 0, 0.9);
}
.flatpickr-months .flatpickr-prev-month:not(.flatpickr-disabled):hover svg,
.flatpickr-months .flatpickr-next-month:not(.flatpickr-disabled):hover svg {
  fill: var(--flatpickr);
}
.flatpickr-months .flatpickr-prev-month.flatpickr-disabled,
.flatpickr-months .flatpickr-next-month.flatpickr-disabled {
  display: initial;
  opacity: 0.4;
}

.flatpickr-day:is(.inRange, .prevMonthDay.inRange, .nextMonthDay.inRange, .today.inRange, .prevMonthDay.today.inRange, .nextMonthDay.today.inRange, :hover, .prevMonthDay:hover, .nextMonthDay:hover, :focus, .prevMonthDay:focus, .nextMonthDay:focus):not(.flatpickr-disabled, .selected, .today) {
  border-color: var(--flatpickr);
  background-color: var(--bg-light, #fff);
}
.flatpickr-day.today, .flatpickr-day.today:hover {
  border: 1px solid currentColor;
  color: #393939;
}
.flatpickr-day.today:not(.selected), .flatpickr-day.today:hover:not(.selected) {
  background-color: var(--bg-light, #fff);
}
.flatpickr-day.today.selected, .flatpickr-day.today:hover.selected {
  border-color: var(--flatpickr-font);
}
.flatpickr-day.today:hover:not(.selected, .flatpickr-disabled) {
  border-color: var(--flatpickr);
}
.flatpickr-day.today.flatpickr-disabled, .flatpickr-day.today.flatpickr-disabled:hover {
  color: rgba(57, 57, 57, 0.1);
}

.flatpickr-monthSelect-months {
  margin: 10px 1px 3px 1px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flatpickr-monthSelect-month {
  background: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #393939;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  margin: 0.5px;
  justify-content: center;
  padding: 10px;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  width: 33%;
}

.flatpickr-monthSelect-month.flatpickr-disabled {
  color: #eee;
}

.flatpickr-monthSelect-month.flatpickr-disabled:hover,
.flatpickr-monthSelect-month.flatpickr-disabled:focus {
  cursor: not-allowed;
  background: none !important;
}

.flatpickr-monthSelect-theme-dark {
  background: #3f4458;
}

.flatpickr-monthSelect-theme-dark .flatpickr-current-month input.cur-year {
  color: #fff;
}

.flatpickr-monthSelect-theme-dark .flatpickr-months .flatpickr-prev-month,
.flatpickr-monthSelect-theme-dark .flatpickr-months .flatpickr-next-month {
  color: #fff;
  fill: #fff;
}

.flatpickr-monthSelect-theme-dark .flatpickr-monthSelect-month {
  color: rgba(255, 255, 255, 0.95);
}

.flatpickr-monthSelect-month.today {
  border-color: #959ea9;
}

.flatpickr-monthSelect-month.inRange,
.flatpickr-monthSelect-month.inRange.today,
.flatpickr-monthSelect-month:hover,
.flatpickr-monthSelect-month:focus {
  background: #e6e6e6;
  cursor: pointer;
  outline: 0;
  border-color: #e6e6e6;
}

.flatpickr-monthSelect-theme-dark .flatpickr-monthSelect-month.inRange,
.flatpickr-monthSelect-theme-dark .flatpickr-monthSelect-month:hover,
.flatpickr-monthSelect-theme-dark .flatpickr-monthSelect-month:focus {
  background: #646c8c;
  border-color: #646c8c;
}

.flatpickr-monthSelect-month.today:hover,
.flatpickr-monthSelect-month.today:focus {
  background: #959ea9;
  border-color: #959ea9;
  color: #fff;
}

.flatpickr-monthSelect-month.selected,
.flatpickr-monthSelect-month.startRange,
.flatpickr-monthSelect-month.endRange {
  background-color: var(--flatpickr);
  color: #fff;
  border-color: var(--flatpickr);
}

.flatpickr-monthSelect-month.startRange {
  border-radius: 50px 0 0 50px;
}

.flatpickr-monthSelect-month.endRange {
  border-radius: 0 50px 50px 0;
}

.flatpickr-monthSelect-month.startRange.endRange {
  border-radius: 50px;
}

.flatpickr-monthSelect-month.inRange {
  border-radius: 0;
}

.flatpickr-monthSelect-theme-dark .flatpickr-monthSelect-month.selected,
.flatpickr-monthSelect-theme-dark .flatpickr-monthSelect-month.startRange,
.flatpickr-monthSelect-theme-dark .flatpickr-monthSelect-month.endRange {
  background: var(--flatpickr);
  color: #fff;
  border-color: var(--flatpickr);
}

.yn-video {
  --button-height: 1rem;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}
.yn-video > iframe {
  width: 100%;
  height: 100%;
}
.yn-video::before, .yn-video::after {
  -webkit-transition: opacity var(--atime, 0.33s) ease;
  transition: opacity var(--atime, 0.33s) ease;
  pointer-events: none;
}
.yn-video::before {
  content: "";
  height: 0;
  width: 0;
  margin-left: calc(0.28 * var(--button-height));
  background: none;
  border: none;
  border-top: var(--button-height) solid transparent;
  border-bottom: var(--button-height) solid transparent;
  border-left: calc(var(--button-height) * 2 * 0.86) solid var(--light, #fff);
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 20;
  opacity: 0.9;
}
.yn-video::after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.yn-video.loaded::before, .yn-video.loaded::after {
  opacity: 0;
}

.yn-dropdown {
  height: 100%;
  width: auto;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.yn-user {
  padding: 3px;
  cursor: pointer;
}

.yn-user__info {
  border-bottom: var(--border-width, 1px) solid currentColor;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.yn-dropdown__popup {
  position: absolute;
  background-color: var(--bg, #fff);
  color: var(--font, #000);
  margin: auto;
  top: 100%;
  bottom: auto;
  left: auto;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 20rem;
  z-index: 200;
  padding: 1.5rem;
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 10px, rgba(17, 17, 26, 0.1) 0px 0px 20px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 10px, rgba(17, 17, 26, 0.1) 0px 0px 20px;
}
.yn-dropdown__popup .yn-dropdown__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}
.yn-dropdown__popup .small-label {
  font-size: 12px;
  line-height: 1;
  opacity: 0.7;
}
.yn-dropdown__popup > * {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.yn-dropdown__popup form {
  min-width: min(90vw, 22rem);
}
.yn-dropdown__popup form,
.yn-dropdown__popup form button {
  margin-top: 0.5rem;
}

.close-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5rem;
}
.close-wrapper > *:not(.close) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.close {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  aspect-ratio: 1;
  margin: 0 auto;
  -ms-flex-preferred-size: 1.5rem;
      flex-basis: 1.5rem;
  cursor: pointer;
}