{% set data = section.data %}

<header class="header wow fadeInUp">
	<div class="inner">
		<h1 class="title tp">404</h1>
		<div class="bodytext">
			<p>
				Hier wird nicht gebaut.
				Zu unseren Immobilien gehts <a href="{{ _yfunc('linkPage', 'projekte') }}">hier</a> lang.
			</p>
		</div>
	</div>
</header>
