{% set data = section.data %}

{% if data.general_youtube_id|length %}
	<section class="section wow fadeInUp">
		<div class="inner">
			<div class="iframe iframe--video">
				<iframe width="560" height="315" data-src="https://www.youtube.com/embed/{{ data.general_youtube_id }}" class="lazyload" frameborder="0" allow="accelerometer; autoplay; encrypted-media;" allowfullscreen></iframe>
			</div>
		</div>
	</section>
{% endif %}
