<footer class="site__footer">
    {% if _ynfinite.global.data.general_footer_texte|length %}
	<div class="site__footer__meta">
		<div class="inner">
			<div class="row">
			    {% for item in _ynfinite.global.data.general_footer_texte %}
				<div class="col-xs-12 col-sm">
					{{ item.data.general_column|raw }}

                    {% if loop.last == true %}
					<h5 class="mt-1">Besuchen Sie uns auch hier</h5>
					<ul class="social">
						<li><a href="https://www.facebook.com/wvmimmobilien/?fref=ts"><i class="fab fa-fw fa-2x fa-facebook-square"></i></a></li>
						<li><a href="https://www.instagram.com/wvmimmobilien/"><i class="fab fa-fw fa-2x fa-instagram"></i></a></li>
						<li><a href="https://www.youtube.com/user/WvMImmobilien"><i class="fab fa-fw fa-2x fa-youtube"></i></a></li>
					</ul>
					{% endif %}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
    {% endif %}
    
	<div class="site__footer__bottom">
		<div class="inner">
			<div class="row">
				<div class="col-xs-12 col-sm-9">
					<p class="mb-1">&copy; 2020 WvM</p>
				</div>

				<div class="col-xs-12 col-sm-3">
					<h5>Rechtliches</h5>
					<ul>
					    <li><a href="/kontakt.html">Kontakt</a></li>
						<li><a href="/impressum.html">Impressum</a></li>
						<li><a href="/datenschutz.html">Datenschutz</a></li>
					</ul>
				</div>
			</div>
		</div>
		<a href="#top" class="totop">Nach oben</a>
	</div>
</footer>